/* ========GENERAL========= */
html {
    font-size: 62.5%;
}

*, ::before, ::after {
    box-sizing: border-box;
    /* outline: 1px solid lightblue; */
}

:root{
    --page-bg-color: #111111;
    --primary-color: #ffa500;
    --secondary-color: #f8f8f8;
    --header-footer-bgcolor: #800000;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: var(--page-bg-color);
    color: var(--secondary-color);
    position: relative;
    font-weight: 600;
    
}


.img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
    border-radius: 20px;
    border: none;
    margin-top: 1em;
    font-size: 1.7rem;
    padding: .5em 1em;
    transition: all 300ms;
}


.btn:hover,
.btn:focus {
    color: var(--page-bg-color);
    cursor: pointer;
}

.btn:active {
 color: var(--secondary-color);
 background-color: var(--header-footer-bgcolor);
}

img.icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: .5em;
    transition: 400ms linear ;
}

img.icon:hover {
    transform: translateY(-5px) scale(1.2);
}

a:hover:not(.current-page) {
    filter: brightness(10%);
    /* color: green; */
}

ul {
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}



/* ========TYPOGRAPHY========= */
h1{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 3.8rem;
}


h2.title ~ p,
.intro-text-grid-item > p {
    line-height: 1.8em;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 0;
    font-size: 1.6rem;
    transition: 400ms linear ;
}


.yellow-words,
.current-page {
    color: var(--primary-color) !important;
}

.current-page {
    border-bottom: 5px solid var(--primary-color);
    padding-bottom: .2em;
}

/* INTRO SECTION LIST */
ul.intro-section-list {
    margin-top: 2em;
}

ul.intro-section-list li {
    margin-bottom: 1em;
}

ul.intro-section-list li::before {
    content: url(/img/check-3277.png);
    padding-right: 1em;
}


/* ========LAYOUT========= */
.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    /* margin-bottom: 2em; */


}

.header {
    width: 100%;
    background-color: var(--header-footer-bgcolor);
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
    /* padding: .5em initial; */
}

.header-flex-container {
    display: flex;
    flex-direction: column;
}

.nav-1 {
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

.nav-link-flex-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;


}


.nav-1-li {
    margin-top: 0;
    margin-bottom: .7em;
   
    
}


.nav-link-item {
 
 
}
 
.nav-2 {
    display: none;
    /* outline: 1px solid green; */
}

.icon-ul-flex-container {
    display: flex;
    flex-direction: column;
}



/* HERO SECTION */
main {

    margin-top: 6.25em !important;
   
}

.hero-section-flex-container {
    display: flex;
    flex-direction: column;
    /* outline: 1px solid magenta; */
    position: relative;
    /* margin-bottom: 15em; */
    
    
}

.hero-text-flex-item {
    width: 50%;
    padding: 1em;
    transform: translateY(80px);
}

.hero-image-flex-item {
    width: 50%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* INTRO SECTION */

.intro-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 60px);
    padding-top: 1em;
    gap: 1em;
    margin-top: 10.25em;
}

.intro-image-grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 70px 50px 50px; */
    grid-auto-flow: row;
    grid-auto-rows: 240px;
    gap: .5em;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.big-img {
    grid-column: 1 / -1;
    /* grid-row: span 2 ; */
}

/* IMAGE SLIDER SECTION */

.image-slider-section {
    height: 500px;
    width: 100%;
    outline: 1px solid green;
    margin-top: 12.50em;
    
}

.image-slider-section p,
h3 {
    text-align: center;
}

.image-slider-flex-container {
    display: flex;
    outline: 1px solid blue;
}

div.image-slider-flex-container div {
    width: 11.1%;
    height: 120px;
}


/* ========MEDIA QUERY========= */
 @media screen and (min-width: 768px) {

    body {
        height: 100%;
    }



    .header {
        text-align: left;
        position: fixed;
        padding: .5em 0;
        
    }

    .header-flex-container {
        display: flex;
        /* outline: 2px solid sienna; */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .nav-1 {
        width: 100%;
        /* outline: 1px solid goldenrod; */
    }

    .nav-link-flex-container {
        /* flex: 1; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: initial;

    }

    .nav-1-li {
        margin-bottom: 1em;
        /* outline: 1px solid gray; */
        margin-left: 2.5%;
        margin-right: 2.5%;
        
    }
    
    
    .nav-link-item {
     /* outline: 1px solid green; */
    }

    .nav-2 {
        display:initial;
        /* outline: 1px solid green; */
        
    }

    .icon-ul-flex-container {
        display: flex;
        flex-direction: row;
        
    }

    /* HERO SECTION */

    .hero-section-flex-container {
        flex-direction: row;
        height: 500px;
    
    }
    
 }

